@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600&family=Inter:wght@400;800&family=Jomhuria&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.swiper-button-next,
.swiper-button-prev {
  color: #E7B32E !important;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: #E7B32E !important;
  border: 1px solid #E7B32E !important;
}